
html,
body {
  height: 100%;
  margin:0;
  background-image: url(https://images.all-free-download.com/images/graphiclarge/abstract_white_background_266417.jpg);
}

.bg{
  background-image: url(../img/bg.jpg);
  background-position: center top; 
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc( 100vh - 50px);
  /* opacity: .85; */

}

.header-title {
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  background-size: cover;
  overflow: hidden;
  margin-right: 40px;
  /* margin-bottom: 40px; */
}

.header-title .name{
  font-size: 40px;
  margin-bottom: 15px;
}

.name, .web{
    line-height : 20px;
    color: #01FE01; 
    font-size: 40px;
    text-align: left;

}

.web{
    font-size: 30px;
    margin-bottom: 10px;
    color: #01FE01;
    font-weight: bold;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}

h1 {
  width: 100%;
  margin: 40vh 0 3vh 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 3em;
  transition:all 0.4s;
  margin-top: 380px;
}



