.nav{
    background-color: aqua;
    height: 50px;
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'neuzeit-grotesk', sans-serif;
    color: black;
}

.navLeft{
    margin-left: 20px;
}


.navLeft, .navRight{
    flex: 1;
}

.navC{
    flex: 6;
}

.navbar{
    display: flex;
    margin-right: 10px;
    justify-content: center;
    margin: 0;
    padding: 20px;
    list-style: none;
}

.navbar li{
    margin-right: 20px;
}

